:root {
    --site-pink: palevioletred;
    --clr: white;
    --txt: rgb(73, 73, 73);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif;   */
    font-family: 'Open sans', sans-serif;
}

body {
    min-height: 100vh;
    background: var(--clr);
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100vw;
    display: flex;
}

nav ul {
    width: 60%;
    min-width: 350px;
    margin: 1em auto 1em auto;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    gap: .5em;
    justify-content: space-around;
    text-align: center;
}

nav li {
    list-style-type: none;
    min-width: max-content;
}

nav li a {
    font-size: .9em;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

nav li a:hover {
    font-weight: 400;
    color: lightslategray;
}

nav li a.current-page {
    font-weight: 400;
    color: palevioletred;
}

nav img {
    display: none;
}

/* Banner */

header {
    margin-top: 4.5em;
    width: 100vw;
    height: 200px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-items: center;
}

header div {
    width: max-content;
    margin: 0 auto;
}

header#contact-header {
    background-image: url("../images/banner_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header#service-header {
    background-image: url("../images/banner_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header#about-header {
    background-image: url("../images/banner_4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 3.5em;
    color: white;
}

header p {
    text-align: center;
    letter-spacing: 3px;
    font-size: 1.5em;
    color: gainsboro;
}

/* Main Content */
body {
    background: rgb(252, 252, 252);
}

article {
    font-family: 'Open sans', sans-serif;
    font-size: .9em;
    margin: 1em auto 1em auto;
    padding: 0px;
    font-weight: 400;
    color: rgb(124, 124, 124);
    text-align: center;
    letter-spacing: 0.7px;
}

article h2 {
    font-weight: 700;
    font-size: 1.5em;
    color: black;
    margin: 0 0 0.5em 0;
}

article h3 {
    font-weight: 700;
    font-size: 1.3em;
    color: black;
    margin: 1em 0 0.4em 0;
}

article:nth-child(2) {
    margin: 2em 0;
}

section {
    margin: 30px auto 0px auto;
    width: 85%;
}

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: black;
    margin: 1.5em auto 2em auto;
    width: 75%;
    background-color: rgb(240, 240, 240);
    border-radius: 0.2em;
    text-align: left;
    padding: 2em 2em 2em 4em;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: black;
    content: open-quote;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.3em;
    margin-left: -.7em;
}

blockquote>div {
    margin-top: -1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(58, 58, 58);
}

/* Footer */
footer {
    margin-top: 20px;
    min-height: 30px;
}

.social-media ul {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    gap: 1em;
    display: flex;
    list-style-type: none;
}

.social-media ul li a img {
    width: 40px;
    height: 40px;
}

/*
.colored {
    filter: invert(41%) sepia(99%) saturate(496%) hue-rotate(295deg) brightness(99%) contrast(83%); 
}*/

/* Formulier */
form {
    width: 80%;
    max-width: 800px;
    min-width: calc(255px + 2.5em);
    padding: 1em;
    border: 4px solid lightgray;
    border-radius: 1em;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, .8);
}

fieldset {
    border: none;
    padding: 0;
}

fieldset div:nth-of-type(2),
fieldset div:nth-of-type(3) {
    margin-top: 1em;
}

legend {
    font-weight: 700;
    font-size: 1.3em;
    padding: .5em 0 .2em;
}

label {
    display: block;
    margin-bottom: .2em;
}

textarea {
    padding: 0.5em;
    width: 100%;
    font-size: 0.8em;
}

input {
    border: 1px solid lightgrey;
    min-height: 35px;
    padding-left: 0.5em;
    margin-top: 0.2em;
}

.aanvraag,
.knoppen {
    padding-top: 1em;
}

.knoppen {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

input {
    min-width: 250px;
}

.knoppen input {
    flex-grow: 1;
    border-radius: 0.5em;
    border: none;
    font-size: 1.2em;
    height: 2em;
    color: white;
    min-width: 255px;
    background-color: rgb(90, 90, 90);
}

input[type="reset"] {
    background-color: rgb(139, 139, 139);
}

/* Service pages */
#services h2 {
    text-align: center;
    margin: 2em auto 0.5em auto;
    grid-column: 1/3;
}

#services h3 {
    font-size: 1.3em;
    font-weight: 400;
}

/* Responsiveness */
@media screen and (min-width:600px) {
    header {
        display: flex;
        align-items: center;
    }

    .container {
        display: grid;
        margin: 1.5em auto 3em auto;
        width: 100%;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }

    article {
        margin: 0 auto;
    }

    article:nth-child(2) {
        margin: 0em 0;
    }

    nav img {
        display: inline;
        width: 50px;
        margin: .5em 0 0 1em;
    }

    #services {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
    }

    .digital-art {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.2em;
        margin-top: 0;
        padding-top: O;
        align-items: start;
    }

    .digital-art article {
        padding: 0 1em;
    }

    .website,
    .photoshop {
        margin-top: 1.3em;
    }

    .website article h2,
    .photoshop article h2 {
        padding: .5em 0 .7em 0;
    }

    #about-section article h2 {
        margin-top: 1.2em;
    }

    #services article:nth-child(4) {
        grid-column: 1/4;
    }

    #services h2#art-header {
        text-align: center;
        margin: 0 auto;
        grid-column: 1/3;
    }

    #services h2 {
        text-align: center;
        margin: 0 auto;
    }


    #services>div {
        padding: 0 1em;
    }

    #art-header {
        text-align: center;
        margin: 2em 0 0.5em;
    }
}